In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [159]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

In [71]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [162]:
answers = {} 
data['profit'] = data.revenue - data.budget
data['title_length'] = data['original_title'].str.len()
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit,title_length
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,6,1363528810,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,5,228436354,18
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,3,185238201,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,12,1868178225,28
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,4,1316249360,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,7,82299717,5
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,10,-8444012,18
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,6,-40865180,36
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,2,-3962091,10
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,7,-9782502,12

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [173]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [8]:
highest_budget_movie = data[data.budget == data.budget.max()]
highest_budget_movie.original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [174]:
answers['2'] = 'Gods and Generals'

In [9]:
longest_movie = data[data.runtime == data.runtime.max()]
longest_movie.original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [175]:
answers['3'] = 'Winnie the Pooh'

In [10]:
shortest_movie = data[data.runtime == data.runtime.min()]
shortest_movie.original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [176]:
answers['4'] = '110'

In [13]:
avg_runtime = data.runtime.mean()
round(avg_runtime,0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [177]:
answers['5'] = '107'

In [14]:
median_runtime = data.runtime.median()
round(median_runtime,0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [178]:
answers['6'] = 'Avatar'

In [15]:
most_profitable_movie = data[data.profit == data.profit.max()]
most_profitable_movie.original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [179]:
answers['7'] = 'The Lone Ranger'

In [16]:
least_profitable_movie = data[data.profit == data.profit.min()]
least_profitable_movie.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [180]:
answers['8'] = '1478'

In [17]:
generated_profit = data[data.profit > 0]
len(generated_profit)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [181]:
answers['9'] = 'The Dark Knight'

In [29]:
movies_2008 = data[data.release_year == 2008]
most_profitable_movie_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
most_profitable_movie_2008.original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [182]:
answers['10'] = 'The Lone Ranger'

In [31]:
movies_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
least_profitable_movie_2012_2014 = movies_2012_2014[movies_2012_2014.profit == movies_2012_2014.profit.min()]
least_profitable_movie_2012_2014.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [183]:
answers['11'] = 'Drama'

In [63]:
data['new_genres'] = data['genres'].apply(lambda c: c.split(sep = '|'))
data_genres = data[['new_genres', 'imdb_id']]
data_genres_exploded = data_genres.explode('new_genres')
data_genres_grouped = data_genres_exploded.groupby(['new_genres']).count().sort_values(['imdb_id'], ascending = False)
data_genres_grouped.head(1)

            imdb_id
new_genres
Drama           782

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [184]:
answers['12'] = 'Drama'

In [68]:
profitable_movies = data[data.profit > 0]
profitable_movies['new_genres'] = profitable_movies['genres'].apply(lambda c: c.split(sep = '|'))
profitable_genres = profitable_movies[['new_genres', 'imdb_id']]
profitable_genres_exploded = profitable_genres.explode('new_genres')
profitable_genres_grouped = profitable_genres_exploded.groupby(['new_genres']).count().sort_values(['imdb_id'], ascending = False)
profitable_genres_grouped.head(1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            imdb_id
new_genres
Drama           560

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [185]:
answers['13'] = 'Peter Jackson'

In [50]:
highest_revenue_director = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
print(highest_revenue_director.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [186]:
answers['14'] = 'Robert Rodriguez'

In [137]:
directors = pd.DataFrame(columns=['imdb_id','dir'])
for index, row in data.iterrows():
    step_d = pd.DataFrame(str.split(row.director,sep = '|'),columns = ['dir'])
    step_d['imdb_id'] = row['imdb_id']
    directors = directors.append(step_d)
display(data[data.genres.str.contains('Action')].merge(directors,on = 'imdb_id',how = 'inner').groupby('dir').imdb_id.count().sort_values(ascending = False))

dir
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [187]:
answers['15'] = 'Chris Hemsworth'

In [139]:
data_tmp = data[data.release_year == 2012]
data_tmp['cast_new'] = data_tmp['cast'].apply(lambda c: c.split(sep = '|'))
cast_revenue = data_tmp[['revenue', 'cast_new']]
cast_revenue_exploded = cast_revenue.explode('cast_new')
cast_revenue_grouped = cast_revenue_exploded.groupby(['cast_new']).sum().sort_values(['revenue'], ascending = False)
cast_revenue_grouped.head(1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    revenue
cast_new
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [188]:
answers['16'] = 'Matt Damon'

In [142]:
high_budget_movies = data[data['budget'] > data['budget'].mean()]
high_budget_movies['cast_new'] = high_budget_movies['cast'].apply(lambda c: c.split(sep = '|'))
high_budget_movies_actors = high_budget_movies[['cast_new', 'imdb_id']]
high_budget_movies_actors_exploded = high_budget_movies_actors.explode('cast_new')
high_budget_movies_actors_exploded_grouped = high_budget_movies_actors_exploded.groupby(['cast_new']).count().sort_values(['imdb_id'], ascending = False)
high_budget_movies_actors_exploded_grouped.head(1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            imdb_id
cast_new
Matt Damon       18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [189]:
answers['17'] = 'Action'

In [58]:
nicolas_cage_movies = data[data.cast.str.contains('Nicolas Cage')]
nicolas_cage_movies['genres_new'] = nicolas_cage_movies['genres'].apply(lambda c: c.split(sep = '|'))
nicolas_cage_genres = nicolas_cage_movies[['genres_new', 'imdb_id']]
nicolas_cage_genres_exploded = nicolas_cage_genres.explode('genres_new')
nicolas_cage_genres_grouped = nicolas_cage_genres_exploded.groupby(['genres_new']).count().sort_values(['imdb_id'], ascending = False)
nicolas_cage_genres_grouped.head(1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            imdb_id
genres_new
Action           17

# 18. Самый убыточный фильм от Paramount Pictures

In [190]:
answers['18'] = 'The Widowmaker'

In [84]:
paramount_movies = data[data.production_companies.str.contains('Paramount Pictures')]
least_profitable_paramount = paramount_movies[paramount_movies.profit == paramount_movies.profit.min()]
least_profitable_paramount.original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [191]:
answers['19'] = '2015'

In [96]:
grouped_data = data.groupby(['release_year']).sum()
best_year_revenue = grouped_data.revenue.sort_values(ascending = False)
print(best_year_revenue.head(5))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [192]:
answers['20'] = '2014'

In [100]:
warner_bros_movies = data[data.production_companies.str.contains('Warner Bros.')]
grouped_data_warner = warner_bros_movies.groupby(['release_year']).sum()
grouped_data_warner.profit.sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [193]:
answers['21'] = 'Сентябрь'

In [102]:
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])
monthly_grouped = data['month'].value_counts()
monthly_grouped

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [194]:
answers['22'] = '450'

In [120]:
summer_movies = data[(data.month.str.contains('6')) | (data.month.str.contains('7')) | (data.month.str.contains('8'))]
summer_movies.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [195]:
answers['23'] = 'Peter Jackson'

In [170]:
data['month'] = data['month'].astype(int)
winter_movies = data[(data.month >= 12)|(data.month <= 2)]
winter_movies['directors_new'] = winter_movies['director'].apply(lambda c: c.split(sep = '|'))
winter_movies_directors = winter_movies[['directors_new', 'imdb_id']]
winter_movies_directors_exploded = winter_movies_directors.explode('directors_new')
winter_movies_directors_grouped = winter_movies_directors_exploded.groupby(['directors_new']).count().sort_values(['imdb_id'], ascending = False)
winter_movies_directors_grouped.head(5)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                   imdb_id
directors_new
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Shawn Levy               4
Adam Shankman            4

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [196]:
answers['24'] = 'Four By Two Productions'

In [130]:
data['prod_companies'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
title_companies = data[['original_title', 'prod_companies']]
title_companies_exploded = title_companies.explode('prod_companies')
title_companies_grouped = (title_companies_exploded.groupby('prod_companies')['original_title']
                            .apply(lambda x: np.mean(x.str.len()))
                            .reset_index(name='mean_len_of_title')
                            .sort_values(ascending = False, by = 'mean_len_of_title'))
title_companies_grouped

                  prod_companies  mean_len_of_title
583      Four By Two Productions               83.0
817      Jim Henson Company, The               59.0
446                Dos Corazones               47.0
1258                Polsky Films               46.0
1094   Museum Canada Productions               46.0
...                          ...                ...
512        Everest Entertainment                3.0
169         Berlanti Productions                3.0
624   Global Entertainment Group                2.0
1748             XM2 Productions                2.0
803           Ixtlan Productions                2.0

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [197]:
answers['25'] = 'Midnight Picture Show'

In [74]:
data['prod_companies_new'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
title_companies = data[['overview', 'prod_companies_new']]
title_companies_exploded = title_companies.explode('prod_companies_new')
title_companies_exploded['words'] = title_companies_exploded.overview.apply(lambda c: c.split(sep = ' '))
title_companies_exploded['word_count'] = title_companies_exploded.words.apply(lambda x: len(x))
title_companies_grouped = title_companies_exploded.groupby(['prod_companies_new']).mean().sort_values(['word_count'], ascending = False)
title_companies_grouped

                                       word_count
prod_companies_new
Midnight Picture Show                       175.0
Heineken Branded Entertainment              161.0
Room 9 Entertainment                        161.0
98 MPH Productions                          159.0
Brookwell-McNamara Entertainment            156.0
...                                           ...
Henceforth                                   13.0
Our Stories Films                            13.0
London Boulevard                             13.0
Motion Picture Corporation of America        11.0
Empire Pictures                              11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [198]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [162]:
data_best = data[['vote_average', 'original_title']].sort_values(['vote_average'], ascending = False)
data_best[:round(len(data_best)*0.01)]

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
from itertools import combinations 
list_actors = data['cast'].str.cat(sep = '|').split("|")
series_actors = pd.Series(list_actors)
counter = {}
for i in data['cast']:
    for j in list(combinations(i, 2)):
    series_actors == (i, j)
    counter =+1
    
series_actors.sort_values(ascending = False)

# Submission

In [199]:
answers

{'23': 'Peter Jackson',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [155]:
len(answers)

26